# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 91562ad43119549c869ffe337bc930785217b66acfb22f8e338a7256991fba1e67703001dd2103ca3b117356c62c8adfc4e3eb0b6e32fef17540b24c0063a729

test:
  secret_key_base: a0f20f91d493ea803f5da316b9d25a195fd76be65eff1ba0e852a21498077343cd26e86ab0dec9457480b34022ad43119549c8270fd6b1cc28ace6cb2c083cfa

production:
  secret_key_base: # shhh... it's a secret.
